* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f263a6;

    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    color: white;
}

header p {
    font-size: 2em;
    font-weight: 700;
    margin: 0 1em 0 1em;
}

header pre {
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}

.calendar-weeks {
    margin: 3em 15em 0 15em;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.calendar-weeks div {
    display: flex;
    justify-content: center;
    align-items: end;

    margin: 2em 3em 0.5em 2.2em;

    color: rgb(0, 0, 0);
    font-weight: 700;
}

.calendar-body {
    margin: 0 15em 0 15em;

    background-color: rgb(255, 255, 255);
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-dates div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;

    color: rgb(0, 0, 0);

    padding: 0.3em;
}

.calendar-dates div:hover {
    border: 2px solid rgba(255, 255, 255, 0.538);
    border-radius: 100%;
    cursor: pointer;
}

